<!-- Footer -->
<footer>
    <div class="footer-images">
      <a href="https://github.com/ncristianmolina" target="_blank">
        <img src="assets/icons/github.png" alt="Imagen 1" />
      </a>
      <a href="https://www.linkedin.com/in/cristian-n-molina/" target="_blank">
        <img src="assets/icons/linkedin.png" alt="Imagen 2" />
      </a>
      <div class="copy-email" (click)="copyEmail()">
        <img src="assets/icons/mail.png" alt="ncristian.molina@gmail.com" />
      </div>
    </div>
    <p>© 2024 Cristian Molina</p>
  </footer>
  