<div id="projects" class="projects-section">
  <h2>Mis Proyectos</h2>
    <!-- Navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutme">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#education">Education</a></li>
      </ul>
    </nav>
  
    <!-- Sección de proyectos -->
    <div class="projects-container">
      <!-- Tarjeta de proyecto -->
      <div class="project-card">
        <div class="project-image">
          <img src="assets/projects/RealState.PNG" alt="RealState" />
        </div>
        <div class="project-description">
          <h3>Real State</h3>
          <p>Web inmobiliaria moderna, relaciona a la venta de inmuebles. Realizado para utilizar lo aprendido en programacion Frontend.<br> Incluyendo HTML, CSS y JavaScript.</p>
        </div>
        <div class="project-link">
          <a href="https://github.com/ncristianmolina/realState-project" target="_blank">Ver en GitHub</a>
        </div>
      </div>
  
      <!-- Tarjeta de proyecto -->
      <div class="project-card">
        <div class="project-image">
          <img src="assets/projects/.net.png" alt=".NET" />
        </div>
        <div class="project-description">
          <h3>Tienda Ecommerce</h3>
          <p>Creacion de aplicacion de escriotrio con WinForms en .NET y SQL SERVER<br>ACTUALMENTE EN CURSO</p>
        </div>
        <div class="project-link">
          <a href="https://github.com/ncristianmolina" target="_blank">Ver en GitHub</a>
        </div>
      </div>
  
      <!-- Agregar más tarjetas de proyectos aquí -->
    </div>
  
    <!-- Scroll -->
    <div class="scroll-down">
      <a href="#education">
        <span>&#x2193;</span> <!-- Flecha hacia abajo -->
      </a>
    </div>
  </div>
  