<div id="aboutme">
  <div class="cards-container">
    <!-- Tarjeta "Sobre mí" -->
    <div class="card">
      <div class="card-content">
        <h3>Sobre Mí</h3>
        <p>
          Soy Cristian, un programador apasionado por la innovación y el aprendizaje continuo. 
          Mi objetivo es crecer profesionalmente combinando mi formación y experiencia, siempre 
          buscando enfrentar nuevos desafíos y generar un impacto positivo a través de la programación.</p>
      </div>
  </div>
  
    <!-- Tarjeta "Habilidades Blandas" -->
   <div class="card">
      <div class="card-content">
        <h3>Habilidades Blandas</h3>
        <p>✓Proactivo<br> ✓Paciencia <br>✓Resolucion de problemas  <br>✓Comunicación efectiva <br>✓Gestion del tiempo<br>✓Trabajo en Equipo</p>
      </div>
   </div>
  
  <!-- Tarjeta "Habilidades Duras" -->
<div class="card skills-card">
  <div class="card-content">
    <h3>Habilidades Duras</h3>
    <div class="skills-images">
      <div class="skill-item">
        <img src="assets/lenguages/html.png" alt="HTML" class="skill-img" title="HTML" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/css.png" alt="CSS" class="skill-img" title="CSS" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/javascript.png" alt="JavaScript" class="skill-img" title="JavaScript" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/typescript.png" alt="TypeScript" class="skill-img" title="TypeScript" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/angular.png" alt="Angular" class="skill-img" title="Angular" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/csharp.png" alt="C#" class="skill-img" title="C#" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/.netframe.png" alt=".NET Framework" class="skill-img" title=".NET Framework" />
      </div>
      <div class="skill-item">
        <img src="assets/lenguages/microsoft-sql.png" alt="SQL Server" class="skill-img" title="SQL Server" />
      </div>
    </div>
  </div>
</div>
</div>